*{
    margin: 0;
    padding: 0;
    background-color: rgb(63, 93, 129);
  }
  
  .clear{
    clear: both;
  }
  
  
  .slide-toggle{
    display: none;
  }
  
  .slidemenu{
    font-family: arial, sans-serif;
    max-width: 800px;
    margin: 70px auto;
    overflow: hidden;
  }
  
  .slidemenu label{
    width: 15%;
    text-align: center;
    display:inline-block;
    float:left;
    color: white;
    opacity: 0.2;
  
  }
   /*titulo*/
   .titulo{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  


  .slidemenu label:hover{
    cursor: pointer;
    color: #666;
  }
  
  .slidemenu label span{
    display: block;
    padding: 10px;    
  }
  
  .slidemenu label .icon{
    font-size: 20px;
    border: solid 2px #333;
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
  }

 
  /*Bar Style*/
  
  .slider{
    width: 90%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
    
  }
  
  .slider .bar{
    width: 10%;
    height: 5px;
    background: rgb(68, 3, 94);
    border-radius: 5px;
  }
  
  /*Animations*/
  .slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }
  
  /*Toggle*/
  
  .slidemenu .slide-toggle:checked + label{
    opacity: 1;
  }

 .imagen {
  display: inline-block;
 }
  
  
  
  .slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
  .slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 20%; }
  .slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 37%; }
  .slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 53.4%; }
  .slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 70.3%; }
  .slidemenu #slide-item-6:checked ~ .slider .bar{ margin-left: 90%; }
  