*{
    margin: 0;
    padding: 0;
  }
  
  .clear{
    clear: both;
  }
  
  
  .slide-toggle{
    display: none;
  }
  
  .slidemenu{
    font-family: arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    overflow: visible;
  }
  
  .slidemenu label{
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: #333;
    opacity: 0.2;
  
  }
  
  .slidemenu label:hover{
    cursor: pointer;
    color: rgb(219, 106, 7);
    transform: scale(1.2);
  }
  
  .slidemenu label span{
    display: block;
    padding: 10px;    
  }
  
  .slidemenu label .icon{
    font-size: 20px;
    border: solid 2px rgba(132, 71, 62, 0.858);
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 20%;
  }
  
  /*Bar Style*/
  
  .slider{
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .slider .bar{
    width: 25%;
    height: 5px;
    background: #333;
    border-radius: 5px;
  }
  
  /*Animations*/
  .slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }
  
  /*Toggle*/
  
  .slidemenu .slide-toggle:checked + label{
    opacity: 1;
  }
  
  
  
  .slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
  .slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
  .slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
  .slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }
  
main h1{
  color: black;
  text-align: center;
  padding-bottom: 50px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .section-a {
  width: 30%;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 5%;
  margin-bottom: 30px;
}

.container .section-a:active{
  box-shadow: 10px 10px 8px 10px #888888;
}


.container .section-a h2{
  padding-bottom: 15px;
  font-size: 1.2rem;
  text-align: center;
}

.container .section-a p{
  padding-bottom: 15px;
  text-align: center;
}

.btn-container{
 width: 100%;
 display: flex;
 justify-content: center;
}

.container .section-a button{
  width: 30%;
}
.section-b{
  
}