*{
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 3rem; color: rgba(6, 1, 48, 0.75);
    background-color: rgba(134, 225, 119, 0.75);
    height: 4rem;
    text-align: center;
  }
  
  .clear{
    clear: both;
  }

  
  .slide-toggle{  /*Botones*/
    display: none;
  }
  
  .slidemenu{     /*Contenedor botones*/
    font-family: arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
  }
  
  .slidemenu label{
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: rgba(6, 1, 48, 0.75);
    opacity: 0.2;
  
  }
  
  .slidemenu label:hover{
    cursor: pointer;
    color: rgba(134, 225, 119, 0.75);
  }
  
  .slidemenu label span{
    display: block;
    padding: 10px;    
  }
  
  .slidemenu label .icon{
    font-size: 20px;
    border: solid 2px rgba(6, 1, 48, 0.75);
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
  }
  
  /*Bar Style*/
  
  .slider{
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .slider .bar{
    width: 25%;
    height: 5px;
    background: rgba(6, 1, 48, 0.75);
    border-radius: 5px;
  }
  
  /*Animations*/
  .slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }
  
  /*Toggle*/
  
  .slidemenu .slide-toggle:checked + label{
    opacity: 1;
  }

  .slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
  .slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
  .slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
  .slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }
  
.mainSection{
  background-image: url(https://www.zdnet.com/a/img/resize/dfb30f720f16b3476f75d400a9a78b48a2289a06/2022/09/23/93addcc0-258d-4268-8eb7-6e5e7c7df3cc/screen-shot-2022-09-23-at-11-07-38-am.png?auto=webp&width=1200);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

main h1{
  color: black;
  text-align: center;
  padding-bottom: 50px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .section-a {
  background-color: aliceblue;
  opacity: 80%;
  width: 30%;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 5%;
  margin-bottom: 30px;
}

.container .section-a:active{
  box-shadow: 10px 10px 8px 10px rgba(6, 1, 48, 0.75);
}

.container .section-a h2{
  padding-bottom: 15px;
  font-size: 1.2rem;
  text-align: center;
}

.container .section-a p{
  padding-bottom: 15px;
  text-align: center;
}

.btn-container{
 width: 100%;
 display: flex;
 justify-content: center;
}

.container .section-b{
  background-color: aliceblue;
  opacity: 80%;
}
.container .section-c{
  background-color: aliceblue;
  opacity: 80%;
}
.container .section-a button{
  width: 30%;

}
.section-b{
  
}
.container .section-b button{
  width: 20%;
  background-color: yellow;
  color: red;
  border: 4px solid black;
  text-align: end;
  font-size: 25px;
  padding: 30px;
  border-radius: 50%;
}

