*{
    margin: 0;
    padding: 0;
  }
  
  .clear{
    clear: both;
  }
  
  
  .slide-toggle{
    display: none;
  }
  
  .slidemenu{
    font-family: arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
  }
  
  .slidemenu label{
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: #333;
    opacity: 0.2;
  
  }
  
  .slidemenu label:hover{
    cursor: pointer;
    color: #666;
  }
  
  .slidemenu label span{
    display: block;
    padding: 10px;    
  }
  
  .slidemenu label .icon{
    font-size: 20px;
    border: solid 2px #333;
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
  }
  
  /*Bar Style*/
  
  .slider{
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .slider .bar{
    width: 25%;
    height: 5px;
    background: #333;
    border-radius: 5px;
  }
  
  /*Animations*/
  .slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }
  
  /*Toggle*/
  
  .slidemenu .slide-toggle:checked + label{
    opacity: 1;
  }

  .divTitleGeneral {
    display: flex;
    margin: auto;
    text-align: center;
    background-color: rgb(216, 50, 50);
    font-size: 3rem;
    color: white;
    padding: auto;
  }
  .imgGeneral {
    width: 40%;
    background-color: black;
  }
  .titleGeneral {
    align-self: center;
    width: 75%;
  }




li {
  display: inline;
}

li button {
  width: 420px;
  height: 60px;
  background-color: #666;
  border: 0;
  font-size: 2rem;
  
}






  .container {
    display: flex;
    border-bottom:4px solid white;
  }

  .tituloDerecha {
    text-align: center;
    width: 40%;
    height: 240px;
    background-color: rgb(216, 50, 50);
    border: 0;
   }

  .h2-a{
    margin: auto;
    color: white;
    font-size: 2.0rem;
  }

  .divText-a {
    display: flex;
    width: 60%;
    height: 240px;
    border: 0;
    background-color: black;
  }

  .text-a {
    text-align: center;
    margin: auto;
    font-size: 2rem;
    color: white;
    margin-left: 10px;
  }

  .clasButtoma {
    padding: 10px;
    align-self:flex-end;
  }

  .buttoma {
    height: 50px;
    width: 150px;
    font-size: 1.5rem;
    background-color: rgb(216, 50, 50);
    color: white;
    border: 0;
  }











  .container-b {
    position: relative;
    display: flex;
    color: white;
    background-color: black;
    margin: auto;
  }

  .h2-b {
    background-color: rgb(216, 50, 50);
    font-size: 2.3rem;
    text-align: center;
     border-bottom: 2px solid black;
     color: white;
   }

  .text-b {
    text-align: center;
    margin-top: 180px;
    margin-left: 85px;
    width: 75%;
    font-size: 2rem;}

  .divText{
    border-right: 4px solid white;
  }

  .buttomb {
    height: 50px;
    width: 150px;
    font-size: 1.5rem;
    background-color: rgb(216, 50, 50);
    color: white;
    border: 0;
  }

  .clasButtomb {
    display: flex;
    justify-content: center;
    background-color:black;
    padding: 10px;
    }




    .section-c {
      
      text-align: center;
      background-color:#666;
      height: 300px;
      
    }

    #para {
      background-color: rgb(216, 50, 50);
      font-size: 2rem;
      width: 300px;
      margin: auto;
    }

    .buttonBlue {
      height: 50px;
      width: 300px;
      border-radius: 10px;
    }

    .buttonRed {
      height: 50px;
      width: 300px;
      border-radius: 10px;
    }





  
  .slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
  .slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
  .slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
  .slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }
  