* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}


.inactive {
  display: none;
}

.logo {
  width: 150px;
}

.logo-menu-ham {
  padding: 20px;
  
}

.menu_ham {
  display: none;
}


.principal{
  margin: 5rem;
  padding: 5rem;
  font-size: 2rem;
  
}
  
  .clear{
    clear: both;
  }
  
  
  .slide-toggle{
    display: none;
  }
  
  .slidemenu{
    font-size: 3rem;
    font-family: arial, sans-serif;
    max-width: 125rem;
    margin: 5rem auto;
    overflow: hidden;
    padding: 20px;
    
  }
  
  .slidemenu label{
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: #333;
    opacity: 0.2;
  
  }
  
  .slidemenu label:hover{
    cursor: pointer;
    color: #666;    
  }
  
  .slidemenu label span{
    display: block;
    padding: 1rem;    
  }
  
  .slidemenu label .icon{
    font-size: 2rem;
    border: solid 0.2rem #333;
    text-align: center;
    height: 5rem;
    width: 5rem;
    display: block;
    margin: 0 auto;
    line-height: 5rem;
    border-radius: 50%;
  }
  
  /*Bar Style*/
  
  .slider{
    width: 100%;
    display: block;
    background: #ccc;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }
  
  .slider .bar{
    width: 25%;
    height: 0.5rem;
    background: #333;
    border-radius: 0.5rem;
  }
  
  /*Animations*/
  .slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }
  
  /*Toggle*/
  
  .slidemenu .slide-toggle:checked + label{
    opacity: 1;
  }
  
  .blue {
    color: #FCFEFF;
    background-color: #222673;
    border-radius: 4rem;
    width: 10rem;
  }

  .red {
    color: #FCFEFF;
    background-color: #D40600;
    border-radius: 4rem;
    width: 10rem;
  }

  .leer {
    color: #FCFEFF;
    background-color: #314259;
    border-radius: 4rem;
    width: 10rem;
  }

  .read {
    color: #FCFEFF;
    background-color: #314259;
    border-radius: 4rem;
    width: 10rem;
  }

  .footer {
    margin: 5rem;
    padding: 5rem;
    font-size: 2rem;
  }

  .ul {
    list-style-type: none;
  }
  .mas_texto {
    display: none;
  }
.more_text {
  display: none;
}
  .show {
    display: block;
  }

  .img {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
  }

  .img2 {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
  }
  
  .slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
  .slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
  .slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
  .slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }


  .mobile-menu {
    position: absolute;
    top: 120px;
    padding: 24px;
  }
  .mobile-menu a {
    text-decoration: none;
    font-weight: bold;
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid;
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }


  .section-b {
    background-color: #333;
  }

  #titulo2 {
    color: white;
    text-align: center;
    background-color: #FC3C23 ;
    font-size: 3.5rem;
    margin: 30px;
    padding: 5px;
  }

  .parrafoSectionB {
    color: white;
    font-size: 2.5rem;
  }

  .parrafoMore1{
    color: white ;
    font-size: 2.5rem;
    
  }

  .parrafoMore2{
    color: white;
    font-size: 2.5rem;
  }

 .more_text {
  text-align: center;
  
 }

 .read {
  
  background-color: #BA1E68 ;
 }



 .section-c {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  background-color: #FC3C23;
  height: auto;
  padding: 15px;
  margin: 0px 300px;
  
 }

 .img2 {
  
  border: 4px solid #FC3C23;
 }




  @media (max-width: 640px) {
    
    .encabezado {
      display: grid;
      grid-template-columns: 12fr;
    }
   
    .slidemenu {
      display: none;
    }
    
    .menu-ham{
    display: flex;
    align-items: center;
    justify-content: center;
  }
    

  }

  @media (min-width: 641px){
    .mobile-menu {
        display: none;
    }

    .menu-ham{
      display: none;
    }
  }